<nav class="navbar">
  <div class="nav-airline-logo">
    <button class="navbar-toggle" (click)="toggleMenu()">☰</button>
    <img [ngSrc]="images[0].img" alt="AirLine" class="nav-airline" [width]="10"
      [height]="30" priority>
    <img [ngSrc]="images[1].img" alt="World" class="nav-world" [width]="10"
      [height]="30" priority>
  </div>
</nav>

<div class="navigation-drawer" [class.open]="isMenuOpen">
  <div class="drawer-header">
    <button class="close-button" (click)="toggleMenu()">✕</button>
    <img [ngSrc]="images[0].img" alt="AirLine" class="airline-logo" [width]="5"
      [height]="25" priority>
    <div class="world-logo">
      <img [ngSrc]="images[1].img" alt="World" class="world-logo" [width]="10"
      [height]="20" priority>
    </div>
  </div>
  <ul>
    <li>Check-in</li>
    <li>Manage my booking</li>
    <li (click)="toggleInformationMenu()">Information
      <ul class="submenu-list" [class.open]="isInformationMenuOpen">
        <li>Help center</li>
        <li>Flight state</li>
        <li>Airplanes</li>
        <li>Routes</li>
      </ul>
    </li>
  </ul>
</div>
