<app-navbar></app-navbar>

<div class="image">
    <img ngSrc="./assets/img/nube.jpg" alt="Nubes fondo" [width]="10"
    [height]="10" priority>
        <div class="overlay">
            <div class="content">
                <h2>Take a rest</h2>
                <p>Discover all the offers available<br>at the best prices for the whole country<br>and the world</p>
            </div>
            <button class="btn">Buy</button>
        </div>
    </div>
    
<div class="row">
    <div class="card">
        <h2>Offers</h2>
        <div class="scroll">
            <div class="image-container-card" *ngFor="let img of images">
                <img [ngSrc]="img.img" [alt]="img.name" [width]="300"
                [height]="200" priority>
                <div class="content-card">
                    <h4>{{ img.name }}</h4>
                    <p>{{ img.price }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tarjet-info">
        <img ngSrc="./assets/img/informativo.jpeg" priority alt="Info" [width]="300"
       [height]="486">
    </div>
</div>
    
    <app-footer></app-footer>
    
    <router-outlet />
